h1{
  text-transform: uppercase;
}
h1 span{
  animation: bounce 1.5s ease infinite alternate;
  text-transform: uppercase;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  }
  ion-title{
  margin: 2%;
  text-align: center;
    letter-spacing: 5px;
    text-shadow:
                  0px 1px 0 #CCC,
                  0px 2px 0 #CCC,
                  0px 3px 0 #CCC,
                  0px 4px 0 transparent,
                  0px 5px 0 transparent,
                  0px 6px 0 transparent,
                  0px 7px 7px rgba(0, 0, 0, 0.4);
  
  }
  
  h1 span:nth-child(2){animation-delay: .1s;}
  h1 span:nth-child(3){animation-delay: .2s;}
  h1 span:nth-child(4){animation-delay: .3s;}
  h1 span:nth-child(5){animation-delay: .4s;}
  h1 span:nth-child(6){animation-delay: .5s;}
  h1 span:nth-child(7){animation-delay: .6s;}
  h1 span:nth-child(8){animation-delay: .7s;}
  h1 span:nth-child(9){animation-delay: .8s;}
  h1 span:nth-child(10){animation-delay: .10s;}
  
  .lastLetter
  {
    margin: 0 5% 0 0;
  }
  
  @keyframes bounce {
    100%{
      top: -10%;
      text-shadow: 0 1px 0 #CCC,
      0 2px 0 #CCC,
      0 3px 0 #CCC,
      0 4px 0 #CCC,
      0 5px 0 #CCC,
      0 6px 0 #CCC,
      0 7px 0 #CCC,
      0 8px 0 #CCC,
      0 9px 0 #CCC,
      0 50px 25px rgba(0, 0, 0, .2);
    }
  }
  
  .container
  {
    display: block;
    margin: 0 10%;
  }
  ion-button{
    margin: 0 auto;
    text-align: center;
    vertical-align:middle;
    width: 80%;
  }
  
  .button-blue {
    background-color: primary;
    border-radius: 30px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    --webkit-user-select: none;
    touch-action: manipulation;
    margin: 12px auto;
  }
  
  .button-blue:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
  .dzien
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
  }
  img
  {
      width: 50px;
      margin:10px;
  }
  
  .inputy
  {
      display: flex;
      flex-direction: column;
  }